<a href="https://colab.research.google.com/github/UtkarshHere/Unemployment-analysis/blob/main/UnemploymentAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

data = pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/unemployment.csv")
print(data.head())

           Region         Date  Frequency  ...  Region.1  longitude  latitude
0  Andhra Pradesh   31-01-2020          M  ...     South    15.9129     79.74
1  Andhra Pradesh   29-02-2020          M  ...     South    15.9129     79.74
2  Andhra Pradesh   31-03-2020          M  ...     South    15.9129     79.74
3  Andhra Pradesh   30-04-2020          M  ...     South    15.9129     79.74
4  Andhra Pradesh   31-05-2020          M  ...     South    15.9129     79.74

[5 rows x 9 columns]

In [2]:
print(data.isnull().sum())

Region                                      0
Date                                        0
 Frequency                                  0
 Estimated Unemployment Rate (%)            0
 Estimated Employed                         0
 Estimated Labour Participation Rate (%)    0
Region.1                                    0
longitude                                   0
latitude                                    0
dtype: int64